// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.carts {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 0.5em;
  }
  .remove-line-item {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 0.354em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.quantity::after {
    content: ' ×';
  }
  td.price {
    font-weight: bold;
    text-align: right;
  }
  tfoot {
    th,
    td.price {
      font-weight: bold;
      padding-top: 1em;
    }
    th {
      text-align: right;
    }
    td.price {
      border-top: solid thin;
    }
  }

  .actions {
    text-align: right;
    form {
      display: inline;
      input[type='submit'] {
        background-color: #888811;
        border-radius: 0.354em;
        border: solid thin #444411;
        color: #ffffff;
        font-size: 1em;
        padding: 0.354em 1em;
      }
      input[type='submit']:hover {
        background-color: #999922;
      }
      input[type='submit'].checkout {
        background-color: #bbffbb;
        color: #000000;
        font-weight: bold;
      }
      input[type='submit'].checkout:hover {
        background-color: #eeffee;
      }
    }
  }
  // input[type='submit'] {
  //   background-color: #888811;
  //   border-radius: 0.354em;
  //   border: solid thin #444411;
  //   color: #ffffff;
  //   font-size: 1em;
  //   padding: 0.354em 1em;
  // }
  // input[type='submit']:hover {
  //   background-color: #999922;
  // }
}
